<p>Hello, I am your coach for the day. Let me share my awesomeness!</p>

<form action="/answer">
  <div class="form-group mx-sm-3 mb-2">
    <!-- <label for="inputQuestion" class="sr-only">What is your question..?</label> -->
    <input class="form-control" type="text" id="inputQuesion" name="question" placeholder="Type anything...">
    <br>
    <button type="submit" class="btn btn-primary mb-2">Ask away!</button>
  </div>
</form>
