@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

// h1, p, div {
//   text-align: center;
// }


body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
}

h1 {
  font-weight: 400;
}

blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;

  &.coach {
    background-color: lightyellow;
    p { font-weight: 400; }
  }
}

cite:before {
  content: "—"
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
